.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6px;
  grid-auto-rows: calc((100vh - 6px) / 4 - 6px);
  padding: 6px;
}

.block {
  border-radius: 4px;
  grid-area: auto / auto / span 1 / span 1;
}
.success {
  background: var(--color-success);
}
.warning {
  background: var(--color-warning);
}
.failed {
  background: var(--color-failed);
}
.block12 {
  grid-area: auto / auto / span 1 / span 2;
}
.block21 {
  grid-area: auto / auto / span 2 / span 1;
}

@media screen and (max-width: 512px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 512px) and (max-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
